body{
    background-color:black;
}

.enter{
    margin: 100px;
    display: "flex";
    flex-direction: column;
    text-align: center;
    border: 14px solid rgb(27, 83, 83);
    border-radius: 25px;
    background-color: beige;
    padding: 30px 50px;
}